*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

nav{
  height: 80px;
  width: 100%;
}

h3 {
  margin-top: 0;
}

h2 {
  margin: 0 auto 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  transition: .5s;
}

html {
  scroll-behavior: smooth;
}

hr {
  margin-top: none;
  margin-bottom: none;
  margin-left: auto;
  margin-right: auto;
  border: solid #f6f6f6 20px;
  border-bottom: none;
  width: 5%;
  text-align: center;
}

/*****************************containers**************************************/

.top-container {
  padding: 3.125rem 15rem 3.5rem;
}

.middle-container {
  padding: 3.125rem 15rem 7rem;
  z-index: -1;
}

.intro-container {
  padding: 12.1rem 5rem 15rem;
}

.bottom-container {
  padding: 20px 0 20px 0;
}

.contact-me {
  padding: 8.25rem 5rem 8.375rem;
}

/**********************************video**************************************/

.twp-video-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.twp-video-foreground{
    padding-bottom: 56.25%;
}

/************************************top*************************************/

.nav-1, .nav-2, .nav-3, .nav-4 {
  margin: 0 15px;
  font-size: 15px;
}

.top-h1, .top-h2 {
  padding-top: 0;
}

.top-h2 {
  font-size: 1.5rem;
}

.top-h1 {
  margin: 0 auto 0 auto;
  margin-bottom: 0;
  font-size: 4.625rem
}

.p-intro {
  padding-top: 1.875rem;
}

/***********************************middle************************************/

.skill-row-1 {
  padding-top: 1.875rem;
  margin: 0 auto 0 auto;
}

.skill-row-2, .skill-row-3, .skill-row-4, .skill-row-5 {
  margin: 1.875rem auto;
}

/***********************************bottom************************************/

.contact-h2 {
  padding-bottom: 20px;
}

.contact-h3 {
  padding-bottom: 20px;
}

.box-s {
  z-index: 1;
  padding-top: 5rem;
}

.btn {
  border-width: medium;
}

btn:hover {
  background-color: #f6f6f6;
  transition: 2s;
}

.fa-envelope {
  padding-right: 10px;
}

.footer-link-1, .footer-link-2, .footer-link-3 {
  margin: 0 20px;
}

.copyright {
  font-size: 10px;
  margin: 50px 0 0 0;
}

/***********************************colors************************************/

.white {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.black-bg {
  background-color: black;
}

/***********************************fonts*************************************/

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.Merienda {
  font-family: 'Merienda', cursive;
}

/***********************************align*************************************/

.center {
  text-align: center;
}

/***********************************sizes*************************************/

.size125rem {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.transparent {
  background: transparent;
}

.lineh-2 {
  line-height: 2;
}

.relative {
  position: relative;
}

.spacing {
  letter-spacing: 0.2rem;
}

/********************************supports*************************************/

.text-gradient {
  color: white;
}

/* @supports (-webkit-background-clip: text){
  .text-gradient{
    background-image: linear-gradient(90deg, #e61e76, #07c2e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
} */

.top-h1 {
  color: white;
}

/* @supports (-webkit-background-clip: text){
  .top-h1{
    background-image: linear-gradient(90deg, #e61e76, #07c2e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
} */

/*********************************media quiery********************************/

@media (max-width: 767px) {
  .nav-1, .nav-2, .nav-3, .nav-4 {
    padding: 1rem 0;
    text-align: left;
    border-width: medium;
    margin: 0;
  }
  .nav-1 {
    padding-top: 2rem;
  }

  .top-container {
    padding: 3.125rem 2rem 3.5rem;
  }

  .middle-container {
    padding: 3.125rem 2rem 7rem;
  }

}

@media (max-width: 1077px) {

  .top-container {
    padding: 3.125rem 10rem 3.5rem;
  }

  .middle-container {
    padding: 3.125rem 10rem 7rem;
  }

}

@media (max-width: 640px) {

  .contact-h2{
    font-size: 1.1rem
  }

  .contact-h3{
    font-size: 1rem;
  }

  .btn{
    font-size: 1rem;
  }

  a{
    font-size: .9rem;
  }

  .top-h1{
    font-size: 3.225rem;
  }

  .top-h2{
    font-size: 1.1rem
  }

  .intro-h2{
    font-size: 1.1rem
  }

  .p-intro{
    font-size: 1rem
  }

  .skills-h2{
    font-size: 1.1rem;
  }

  .skill-1, .skill-2, .skill-3, .skill-4{
    font-size: 1.1rem;
  }

  .p2{
    font-size: 1rem
  }

  .intro-container {
    padding: 13rem 2rem 15rem;
  }

  .top-container {
    padding: 3.125rem 2rem 3.5rem;
  }

  .middle-container {
    padding: 3.125rem 1rem 7rem;
  }

  .box-s {
    padding: 16rem 2rem 20rem;
  }

}

@media (max-width:599px){

  .intro-container {
    padding: 16rem 2rem 16rem;
  }

  .box-s {
    padding: 10rem 2rem 10rem;
  }

}
